<div>
    <h3>PRODUCCION:</h3>
</div>
<div style="display:flex;justify-content:center;flex-wrap:wrap">

    <div style="margin:5px;border-radius:5px;width:30%;min-width:350px;height:400px;">
        <VerticalVolCrudo />
    </div>

    <div style="margin:5px;border-radius:5px;width:60%;min-width:350px;height:400px;background-color:aliceblue">
        <LinealProduccion />
    </div>
</div>

@code {

}