@inherits LayoutComponentBase

<div class="page" >
    <div>
        <NavMenu />        
    </div>
    <div>
        <MenuLateral />
    </div>    
    <main>
        <div style="margin-left:5px;margin-right:5px;">
            @Body
        </div>
        
    </main>
</div>
