@inherits LayoutComponentBase

<div class="page">
    <div>
        <NavMenu />        
    </div>
    <div>
        <MenuLateral />
    </div>    
    <main>        
        <article style="margin:5px">
            @Body
        </article>
    </main>
</div>
