@page "/graficas"
<br />
<br />
<br />
<div class="row">
    <div class="col-3">
        <TortaTovCrudo />
    </div>
    <div class="col-9">
        <LinealTOVCrudo />
    </div>
</div>
<div class="row">
    <div class="col-3">
        <TortaTOVNafta />
    </div>
    <div class="col-9">
        <LinealTOVNafta />
    </div>
</div>
@code {

}
